---
Checks:
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-dynamic-static-initializers,
  clang-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-pro-type-union-access,
  google-*,
  llvm-*,
  -llvm-header-guard,
  misc-*,
  -misc-include-cleaner,
  modernize-*,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*,
  -readability-duplicate-include,
WarningsAsErrors: '*'
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: '(include|config)/.*.hpp'
FormatStyle: none
CheckOptions:
  readability-magic-numbers.IgnoredIntegerValues: '1;2;3;4;5;10;100;255;1000;65535;1000000'
  readability-magic-numbers.IgnorePowersOf2IntegerValues: true
  readability-magic-numbers.IgnoreUserDefinedLiterals: true
  readability-magic-numbers.IgnoredFloatingPointValues: '1.0;2.0;5.0;10.0;50.0;100.0;1000.0;1000000.0'
  readability-identifier-length.MinimumVariableNameLength: 2
  readability-identifier-length.IgnoredVariableNames: ^[nxyz]$
  readability-identifier-length.MinimumParameterNameLength: 2
  readability-identifier-length.IgnoredParameterNames: ^[nxyz]$
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: true
  bugprone-narrowing-conversions.WarnOnIntegerToFloatingPointNarrowingConversion: false
SystemHeaders: false
ExtraArgsBefore:
  - '--target=arm-none-eabi'
  - '--sysroot=/usr/lib/arm-none-eabi/'
  - '-I/usr/lib/arm-none-eabi/include/c++/13.2.1/'
  - '-I/usr/lib/arm-none-eabi/include/c++/13.2.1/arm-none-eabi/'
...
