---
Language:        Cpp
BasedOnStyle:    LLVM
AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveBitFields:
  Enabled:         true
  PadOperators:    true
AlignConsecutiveDeclarations:
  Enabled:         true
  PadOperators:    true
AlignConsecutiveMacros:
  PadOperators:    true
AlignEscapedNewlines: Left
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
ColumnLimit:     120
EmptyLineBeforeAccessModifier: Always
IncludeCategories:
  - Regex:           '^<.*>'
    Priority:        1
    SortPriority:    1
  - Regex:           '^".*"'
    SortPriority:    2
# No include is treated as the main header, so that sorting preserves the existing
# grouping instead of promoting the header matching the source file name
IncludeIsMainRegex: 'NO_MAIN_INCLUDE'
IndentCaseLabels: true
IndentExternBlock: NoIndent
IndentPPDirectives: BeforeHash
IndentRequiresClause: false
IndentWidth:     4
IndentWrappedFunctionNames: true
InsertNewlineAtEOF: true
KeepEmptyLinesAtTheStartOfBlocks: false
LineEnding:      LF
PackConstructorInitializers: NextLine
PointerAlignment: Left
SeparateDefinitionBlocks: Always
ShortNamespaceLines: 0
SortIncludes:    CaseSensitive
SpaceInEmptyBlock: true
SpacesBeforeTrailingComments: 2
Standard:        Latest
TabWidth:        4
...
