---
Checks:
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  clang-*,
  -clang-diagnostic-unused-command-line-argument,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-type-union-access,
  google-*,
  llvm-*,
  -llvm-header-guard,
  misc-*,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*,
  -readability-magic-numbers,
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle: none
...
